.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') 50% / cover no-repeat;
    padding-top: 370px;
    &__title {
        position: relative;
        @include before_circle;
        padding-left: 10px;
        z-index: 1;
        span {
            cursor: default;
            transition: 0.7s all;
            &:hover {
                text-shadow: 2px 2px 20px #fff;
            }
        }
    }
    &__subtitle {
        margin-top: 9px;
        width: 536px;
        span {
            cursor: default;
            transition: .7s all;
            &:hover {
                text-shadow: 2px 2px 20px #fff;
            }
        }
    }
    &__btns {
        margin-top: 25px;
        width: 248px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        color: #fff;
        transition: 0.5s all;
        &:hover {
            color: #fff;
            text-decoration: none;
            text-shadow: 0 0 20px rgba(255, 192, 203, 1);
            color: $main-color;
            text-decoration: none;
        }
    }
}